<div class="col-md-12">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
   
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="first_name" placeholder="First Name" name="firstName" class="form-control" id="first_name">
    	
    	<div *ngIf="submitted && addUserForm.controls.first_name.errors" class="error">
          <div *ngIf="addUserForm.controls.first_name.errors.required">FirstName is required</div>
        </div>

    </div>


    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="last_name" placeholder="Last name" name="lastName" class="form-control" id="last_name">
      <div *ngIf="submitted && addUserForm.controls.last_name.errors" class="error">
          <div *ngIf="addUserForm.controls.last_name.errors.required">LastName is required</div>
        </div>
    </div>

     <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email_id" placeholder="Email" name="email" class="form-control" id="email_id">
      	<div *ngIf="submitted && addUserForm.controls.email_id.errors" class="error">
          <div *ngIf="addUserForm.controls.email_id.errors.required">Email is required</div>
        </div>
        <div *ngIf="submitted && addUserForm.controls.email_id.errors" class="error">
          <div *ngIf="addUserForm.controls.email_id.errors.isEmailUnique">Email is required</div>
        </div>
    </div>

    <button class="btn btn-success" [disabled]="!addUserForm.valid">Add</button>
  </form>
</div>