<div class="col-md-12">
  <h2> User Details</h2>
  <button class="btn btn-danger addUser" (click)="addUser()"> Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let user of users">
      <td class="hidden">{{ user.id }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email_id }}</td>
      <td>
        <button class="btn btn-danger" (click)="editUser(user.id)" > Edit</button>
      	<button class="btn btn-danger" (click)="deleteUser(user)" style="margin-left: 20px;"> Delete</button>
    </td>
    </tr>
    </tbody>
  </table>
</div>
